.image-carousel-section {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .image-carousel-title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .image-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .image-carousel-container {
    max-width: 500px;
  }
  
  .image-carousel {
    width: 100%;
    height: auto;
    border-radius: 12px;
    /* border: 2px solid #ccc; */
  }
  
  .image-carousel-caption {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #ddd;
  }
  
  .carousel-button {
    background-color: #292b45;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .carousel-button:hover {
    background-color: #44476c;
  }
  