.split-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  padding: 0 10px;
  margin: 200px auto;
  gap: 10px;
}

/* Wave overlay goes behind the content of the split section */
.wave-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}

.wave-overlay .rotated {
  transform: translateY(-0.5) rotate(180deg); /* Moves the second wave below and rotates it */
}

.wave-overlay2 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translateY(-90%);
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}

.wave-overlay2 .rotated {
  transform: translateY(-10) rotate(180deg); /* Moves the second wave below and rotates it */
}

.wave-overlay3 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translateY(-100%);
  z-index: 0;
  pointer-events: none;
  overflow: visible;
}

.wave-overlay3 .rotated {
  transform: translateY(50) rotate(180deg); /* Moves the second wave below and rotates it */
}

.wave-overlay svg {
  width: 100%;
  height: 100%;
  display: block;
}

.left-section, .right-section {
  flex: 1;
  border-radius: 8px;
  position: relative; /* Ensure they stack above the wave overlay */
  z-index: 1;
}

.right-section {
  text-align: center;
  padding: 20px;
}

/* Card Deck Styles */
.card-deck {
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.card-container {
  position: relative;
  height: 150px;
}

.card {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  font-size: 20px;
  margin: 0;
  color: white;
}

.card-button {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

.card-button.left {
  left: 10px;
}

.card-button.right {
  right: 10px;
}

.birthday-input {
  text-align: center;
}

.input-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="date"] {
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
